import React from 'react'

type {{pascalCase name}}Props = {}

const {{pascalCase name}}:React.FC<{{pascalCase name}}Props> = (props) => {
  return (
        <div>{{pascalCase name}}</div>
  )
}

export   { {{pascalCase name}} }