import React from "react";
import { {{pascalCase StoryblokComponent}}Storyblok } from "../../../types/storyblok-component-types";


type {{pascalCase StoryblokComponent}}ViewModelProps = {
  blok: {{pascalCase StoryblokComponent}}Storyblok;
};

const {{pascalCase StoryblokComponent}}ViewModel = ({ blok }: {{pascalCase StoryblokComponent}}ViewModelProps) => { 
  return  (<div>{{pascalCase StoryblokComponent}}</div>)
};

export default {{pascalCase StoryblokComponent}}ViewModel  